* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;


}

body {
    width: 100%;
}

.banner {
    height: 346px;
    background-color: #FEE667;

}

.logo {
    margin-top: 30px;
    margin-left: 141px;
}

.lego {
    float: right;
    padding-top: 80px;
    padding-right: 114px;
}

.banner p {
    color: #2590DD;
    font-size: 32px;
    font-weight: bold;
}

p span {
    font-size: 60px;
}

.text {
    margin-top: 40px;
    margin-left: 100px;
}

.text2 {
    width: 500px;
    margin-top: 14px;
    margin-left: 100px;
}

header {
    background-color: #FFCA10;
    height: 87px;
    padding-left: 300px;
}

header ul li {
    display: inline-block;
    margin-right: 10px;
    padding-left: 50px;
    padding-top: 30px;
}

.bat {
    border: 1px solid #ACAAAA;
    margin-top: 31px;
    margin-left: 100px;
    width: 1191px;
    margin-bottom: 31px;
    padding: 20px;
}

.bat p {
    padding-bottom: 10px;
}

.bat h4 {
    padding-bottom: 10px;
}

.text3 {
    color: #1A01B7;
}

h3 {
    padding-left: 100px;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 18px;
}

.const {
    display: flex;
    margin-left: 55px;
}

.block {
    height: 417px;
    width: 265px;
    background-color: #F1F1F1;
    margin-left: 44px;
    margin-bottom: 61px;
}

.block img {
    width: 229px;
    height: 230px;
    margin-left: 15px;
    margin-top: 10px;
}

.block p {
    margin: 10px;
    font-size: 18px;
}

.block>p>span {
    font-size: 28px;
}

button {
    background-color: #FFCA10;
    border-radius: 5px;
    border: none;
    width: 237.025px;
    height: 33.734px;
    margin-left: 7px;
}

footer {
    background-color: #FFCA10;
    height: 74px;
}

footer p {
    text-align: center;
    padding-top: 25px;
    font-weight: 400;
}